<div>
  <div>
    <span><%= "#{@course.name} (#{current_user.num_of_learned_words(@course.id)}/#{@course.words.count})" %></span>
  </div>
  <div class="col-md-8">
    <table class="word-translation-table">
      <% @learned_words.each do |learned_word| %>
        <tr>
          <% result = learned_word.get_result(current_user.id) %>
          <td class="result-sign">
            <span class="text-result-<%= result.to_s %>">
              <%= result == true ? "x" : "o" %>
            </span>
          </td>
          <td class="original-word">
            <span class="text-result-<%= result.to_s %>">
              <%= learned_word.word %>
            </span>
          </td>
          <td class="translation-word">
            <span class="text-result-<%= result.to_s %>">
              <%= learned_word.translation %>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
