<div>
  <%= "#{@course.name} (#{@lesson.num_of_submitted_words + 1}/#{@lesson.learned_words.count})" %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= @word.word %>
  </div>
  <div class="col-md-6 radio-btn-group">
    <%= form_for [@lesson, @word], method: "get" do |f| %>
      <ul class="answer-list">
        <% @choices.each do |choice| %>
          <li>
            <%= f.radio_button "choice", choice.id,
                                checked: choice == @choices.first,
                                class: "answer-radio-btn" %>
            <%= f.label "#{choice.choice}", class: "answer-label" %>
          </li>
        <% end %>
      </ul>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
