<%= render 'shared/error_messages', object: f.object %>

<h3> Course: </h3>
<div class = "field">
  <%= f.text_field :name, placeholder: "course name", class: "form-control" %>
</div>
<div class="field">
  <%= f.text_field :content, placeholder: "course content", class: "form-control" %>
</div>

<h3> Lesson of course </h3>
<%= f.fields_for :lessons do |ff| %>
  <%= render 'lesson_fields', f: ff %>
<% end %>

<h3> Word of course </h3>
<%= f.fields_for :words do |ff| %>
  <%= render 'word_fields', f: ff %>

  <h3> Choices: </h3>
  <%= ff.fields_for :choices do |builder| %>
    <%= render 'word_choice_fields', ff: builder %>
  <% end %>
<% end %>